<h1>New task</h1>

<%= form_with model: @task do |form| %>
  <div class="col-6">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="col-6">
    <%= form.label :details %>
    <%= form.text_field :details %>
  </div>
  <div class="col-6">
    <%= form.submit %>
  </div>
<% end %>
